* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 6.3rem 0 0;
  padding: 0;
  font-size: 2.8rem;
  font-family: $font-main;
  color: $text;
  background-color: $background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Typography
h1,
h2,
h3,
h4,
h5 {
  color: $heading;
  margin: 0;
}

h1 {
  @include font-size(6.4);
  font-weight: normal;
  margin-top: 18px;
  @include bp-tablet {
    @include font-size(4);
  }
}

h2 {
  @include font-size(4.5);
  font-weight: normal;
  margin-bottom: 54px;
}

h3 {
  color: $text-gray;
  @include font-size(3.6);
  font-weight: normal;
  margin-bottom: 36px;
  &.h3--sib-h4 {
    margin-bottom: 18px;
  }
  + .flex > h4 {
    margin-bottom: 72px;
  }
}

h4 {
  font-family: $sans-serif;
  @include font-size(2.1);
  margin-bottom: 21px;
  text-transform: uppercase;
}

p {
  @include font-size(2.8);
  line-height: 30px;
  line-height: 3.2rem;
  margin: 0 0 1.8rem 0;
}

//PDF Template Base
.header-footer__slash {
  color: #39a4d4;
  font-weight: 700;
}

.pdf-t {
  background-color: white;
  font-size: 12pt;
  font-family: "Lato", sans-serif;

  p {
    flex: 1 1 100%;
    font-size: 16pt;
    line-height: 16pt;
    margin: 0 0 0.1875in 0;
  }

  main {
    margin: 0 1in;

    h1 {
      font-size: 27pt;
      font-weight: 700;
      margin: 0.5in 0;
    }

    section {
      display: flex;
      flex-flow: wrap;

      h2 {
        flex: 1 1 100%;
        font-size: 24pt;
        font-weight: 700;
        margin: 0.5in 0 0.125in;
      }

      h3 {
        color: #666;
        flex: 1 1 100%;
        font-weight: 700;
        font-size: 18pt;
        margin: 0.25in 0 0.125in;
        text-transform: uppercase;
      }

      p {
        em {
          color: rgb(57, 164, 212);
        }
      }

      > div {
        flex: 1 1 50%;

        p {
          color: rgb(57, 164, 212);
          font-style: italic;

          span {
            color: black;
            font-style: normal;
          }
        }
      }

      ul {
        flex: 1 1 100%;
        margin: 0;
        padding: 0 0 0 24px;
        list-style: none;

        li {
          font-size: 16pt;
          font-weight: 700;
          margin-bottom: 10pt;
          margin-left: 0.125in;
          position: relative;

          p {
            font-size: 16pt;
          }

          em {
            font-weight: 400;
          }
        }

        li:before {
          content: "\25B6";
          color: rgb(57, 164, 212);
          position: absolute;
          top: 0;
          left: -0.25in;
        }
      }

      .test-table {
        font-family: "Montserrat", sans-serif;

        .table__row.table__header {
          border-top: 1px solid #a3a3a3;
          border-bottom: 1px solid #a3a3a3;
          font-size: 14pt;
          color: rgb(57, 164, 212);
          padding: 9px 0;
        }
        .table__row {
          border-bottom: 1px solid #a3a3a3;
          color: rgb(71, 71, 71);
          display: -ms-flexbox;
          display: flex;
          font-size: 14pt;
          margin: 18px 0 0;
          padding-bottom: 18px;

          > div:nth-child(1) {
            flex: 0 0 150px;
            margin-right: 18px;
          }
          > div:nth-child(2) {
            flex: 0 0 100px;
            margin-right: 18px;
          }
          > div:nth-child(3) {
            flex: 1 1 auto;
          }
        }
      }

      .domain__test {
        h3 {
          color: rgb(57, 164, 212);
          font-size: 24pt;
          font-weight: normal;
          margin-bottom: 36px;

          & .h3--sib-h4 {
            margin-bottom: 18px;
          }
          + .flex > h4 {
            margin-bottom: 72px;
          }
        }
        h4 {
          color: #464646;
          font-family: "Montserrat", sans-serif;
          font-size: 21pt;
          margin-bottom: 22pt;
          text-transform: uppercase;
        }
        h5 {
          color: #a3a3a3;
          font-family: "Montserrat", sans-serif;
          font-size: 16pt;
          margin: 36px 0 9px;
          text-transform: uppercase;
        }
        h6 {
          color: rgb(57, 164, 212);
          font-family: "Lato", "Merriweather", "Georgia", serif;
          font-size: 18pt;
          font-style: italic;
          font-weight: normal;
          margin: 0px;
          text-transform: capitalize;
        }
        p {
          color: black;
          font-family: "Merriweather", "Georgia", serif;
          font-size: 14pt;
          font-style: normal;
          line-height: 16pt;
        }
        hr {
          margin: 36px auto;
          width: 3in;
        }
      }
    }
  }
}

#header {
  height: unset;
  margin-left: 0.125in;
  position: unset;
  right: unset;
  top: unset;
  width: unset;
  z-index: unset;

  > div {
    margin-left: 0.3in;
  }

  div {
    font-size: 12pt;
    font-weight: 300;
  }
}

#footer {
  align-items: center;
  margin: 1in;

  p {
    font-size: 12pt;
    font-weight: 300;

    span {
      text-transform: capitalize;
    }
  }

  .footer__page-num {
    background-color: #39a4d4;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
  }
}
