//Helper classes
.mt-36 {
  margin-top: 36px !important;
}

//PDF Template Base
.header-footer__slash {
  color: #39a4d4;
  font-weight: 700;
}
#header {
  height: unset;
  margin-left: 0.125in;
  position: unset;
  right: unset;
  top: unset;
  width: unset;
  z-index: unset;

  > div {
    margin-left: 0.3in;
  }

  div {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 300;
  }

  .header__logo {
    vertical-align: middle;
    width: 180px;
    margin-left: 0px;
  }

  .header__text {
    vertical-align: middle;
    width: 340px;
    margin-top: 7px;
    margin-right: 50px;
  }
}

.pdf-t {
  background-color: white;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  margin: 0.25in 0.125in;

  p {
    flex: 1 1 100%;
    font-size: 14pt;
    line-height: 16pt;
    margin: 0 0 0.0625in 0;
  }

  main {
    margin: 0 0.75in;

    h1 {
      font-size: 25pt;
      font-weight: 700;
      margin: 0.5in 0;
    }

    section {
      display: flex;
      flex-flow: wrap;

      h2 {
        flex: 1 1 100%;
        font-size: 21pt;
        font-weight: 700;
        margin: 0.25in 0 0.125in;
      }

      h3 {
        color: #666;
        flex: 1 1 100%;
        font-weight: 700;
        font-size: 18pt;
        margin: 0.25in 0 0.125in;
        text-transform: uppercase;
      }

      p {
        em {
          color: rgb(0, 124, 179);
        }
      }

      > div {
        flex: 1 1 50%;

        p {
          color: rgb(0, 124, 179);
          font-style: italic;

          span {
            color: black;
            font-style: normal;
          }
        }
        .bell-curve {
          margin-top: 45px;
          max-width: 100%;
        }
      }

      ul {
        flex: 1 1 100%;
        margin: 0;
        padding: 0 0 0 12px;
        list-style: none;

        li {
          font-size: 14pt;
          font-weight: 700;
          line-height: 16pt;
          margin-bottom: 10pt;
          margin-left: 0.125in;
          position: relative;

          p {
            font-size: 16pt;
          }

          em {
            font-weight: 400;
          }

          a {
            font-size: 16pt;
          }
          ul {
            li {
              font-weight: 500;
              margin-top: 9px;
              > ul {
                > li:before {
                  //content: "\026AC";
                  content: "";
                  position: absolute;
                  top: 4px;
                  left: -0.25in;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                  border-left: 15px solid hotpink;
                }
              }
            }
            li:before {
              // color: rgb(45, 154, 204);
              // content: "\02731";
              // font-size: 14pt;
              // top: 0;
              border: 6px solid hotpink;
              border-radius: 50%;
              content: "";
              position: absolute;
              top: 5px;
              left: -0.25in;
            }
          }
        }

        li:before {
          // color: rgb(57, 164, 212);
          // content: "\25B6";
          // position: absolute;
          // top: 0;
          // left: -0.25in;
          content: "";
          position: absolute;
          top: 4px;
          left: -0.25in;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid #39a4d4;
        }
      }

      .test-table {
        font-family: "Lato", sans-serif;

        .table__row.table__header {
          //border-top: 1px solid #a3a3a3;
          border-bottom: 1px solid #a3a3a3;
          font-size: 12pt;
          color: rgb(57, 164, 212);
          padding: 9px 0;
        }
        .table__row {
          border-bottom: 1px solid #a3a3a3;
          color: rgb(71, 71, 71);
          display: -ms-flexbox;
          display: flex;
          font-size: 12pt;
          margin: 18px 0 0;
          padding-bottom: 18px;

          > div:nth-child(1) {
            flex: 0 0 220px;
            margin-right: 18px;
          }
          > div:nth-child(2) {
            flex: 1 1 100px;
            margin-right: 18px;
          }
          > div:nth-child(3) {
            flex: 1 1 100px;
            margin-right: 18px;
          }
          > div:nth-child(4) {
            flex: 1 1 100px;
            margin-right: 18px;
          }
          > div:nth-child(5) {
            flex: 1 1 100px;
          }

          ul {
            margin-top: 9px;

            li {
              font-size: 12pt;
              font-weight: normal;
            }
          }
        }
      }
      .test-table.test-table-cols4-equal {
        .table__row {
          > div {
            flex: 1 1 25%;
          }
        }
      }
      .test-table.test-table-cols4-equal.test-table-cols4--4th-col-narrow {
        .table__row {
          > div:nth-child(4) {
            flex: 1 1 50px;
          }
        }
      }
      .test-table.test-table--col3-scores {
        .table__row {
          > div:nth-child(1) {
            flex: 1 0 220px;
          }
          > div:nth-child(2) {
            flex: 1 0 100px;
          }
          > div:nth-child(2) {
            flex: 1 0 100px;
          }
        }
      }
      .test-table.test-table--appendix {
        .table__row {
          > div:nth-child(1) {
            flex: none;
            width: 3in;
            flex-grow: 1;
          }
          > div:nth-child(2) {
            flex: none;
            margin-right: 0.25in;
            width: 1.5in;
          }
          > div:nth-child(3) {
            flex: none;
            margin-right: 0.25in;
            width: 1.25in;
          }
          > div:nth-child(4) {
            flex: none;
            margin-right: 0.25in;
            width: 1.25in;
          }
        }
        .table__row--last {
          border-bottom: 1px solid #a3a3a3;
          margin-bottom: 36px;
        }
      }

      .domain__test {
        flex: 1 1 100%;
        h3 {
          color: rgb(57, 164, 212);
          font-size: 24pt;
          font-weight: normal;
          margin-bottom: 36px;

          & .h3--sib-h4 {
            margin-bottom: 18px;
          }
          + .flex > h4 {
            margin-bottom: 72px;
          }
        }
        h4 {
          color: #464646;
          display: inline-block;
          font-family: "Lato", "Montserrat", sans-serif;
          font-size: 18pt;
          margin-bottom: 0.125in !important;
          text-transform: capitalize;
        }
        h5 {
          color: #777;
          font-family: "Montserrat", sans-serif;
          font-size: 16pt;
          margin: 36px 0 9px;
          text-transform: uppercase;

          .lowercase {
            text-transform: none;
          }
        }
        h6 ~ h5 {
          margin: 9px 0;
        }
        h6 {
          color: rgb(57, 164, 212);
          font-family: "Lato", "Merriweather", "Georgia", serif;
          font-size: 18pt;
          font-style: italic;
          font-weight: normal;
          margin: 0px;
          text-transform: capitalize;
        }
        h5 ~ h6 {
          margin-top: 36px;
        }
        p {
          color: black;
          font-family: "Lato", "Merriweather", "Georgia", serif;
          font-size: 12pt;
          font-style: normal;
          line-height: 14pt;
        }
        hr {
          margin: 36px auto;
          width: 3in;
        }
      }
      .primary-caregiver {
        display: flex;
        flex: 1 1 100%;
        align-items: center;

        h3 {
          flex: 0 1 auto;
        }
        > span {
          background-color: #00a6d8;
          border-radius: 0.0375in;
          color: white;
          display: none;
          font-weight: 700;
          opacity: 0;
          margin-top: 0.125in;
          margin-left: 0.25in;
          padding: 0.0625in 0.125in;
          transition: all 250ms ease-in-out;
        }
      }
      .primary-caregiver--active {
        display: flex;
        flex: 1 1 100%;
        align-items: center;

        h3 {
          flex: 0 1 auto;
        }

        > span {
          border-radius: 0.0375in;
          background-color: #00a6d8;
          color: white;
          display: block;
          font-weight: 700;
          margin-top: 0.125in;
          margin-left: 0.25in;
          opacity: 1;
          padding: 0.0625in 0.125in;
        }
      }
    }
    section.li-not-bold {
      li {
        font-weight: 400;
      }
    }
    section.no-flex {
      display: block;
      flex-flow: unset;
    }
  }
}

//Recommendations
.pdf-t main section.recommendations {
  display: block;
}

//Appendix
.appendices {
  .appendix {
    margin: 0.5in 0;

    h2 {
      flex: 0 1 auto;
      font-size: 18pt;
      margin: 0;
    }

    h5 {
      color: #777;
      font-family: "Montserrat", sans-serif;
      font-size: 16pt;
      margin: 0.5in 0 0.25in;
      text-transform: uppercase;
    }

    h5:first-of-type {
      margin: 0.25in 0;
    }

    .test-table--appendix {
      border-bottom: 1px solid #a3a3a3;

      h3 {
        color: #666;
        font-size: 16pt;
        text-transform: capitalize;
        > span {
          color: black;
        }
      }

      h6 {
        color: #666;
        font-size: 15pt;
        font-weight: normal;
        margin: 0 0 0.125in;
      }

      .table__row.table__header {
        border-top: none;
        border-bottom: none;
        font-size: 12pt;
        padding: 0;
      }
      .table__row {
        border-bottom: none;
        font-size: 12pt;
      }
    }
  }
}

#footer {
  align-items: center;
  // margin: 1in;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 9pt;
  font-weight: 300;
  width: 550px;
  margin-top: 40px;

  p {
    float: left;
    font-size: 9pt;
    font-weight: 300;
    margin-left: 60px;
    margin-top: 20px;

    span {
      text-transform: capitalize;
    }
  }

  .footer__page-num {
    font-size: 10pt;
    float: right;
    background-color: #39a4d4;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 35px;
  }
}

/* Flex Styles */
.flex,
.flex--space-between,
.flex--center,
.flex--stretch,
.flex--center-vertical,
.flex--wrap,
.flex--flex-end,
.flex--col,
.flex--align-items-end {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex--center-vertical {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
